/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
/var/SymfonyRequirements.php
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/web/bundles/
/web/bower/

# eclipse files
/.settings/
/.project
/.buildpath
/.sass-cache/
/npm-debug.log

# composer files
/vendor/
/composer.lock

#OS X files
.DS_Store
/.bash_history
/migrate.sh
