

<a  class="btn btn-sm btn-primary" href="{{ url }}">
	{% if icon is defined %}
		{% if icon|slice(0,10) == 'glyphicon-'  %}
			<span class="glyphicon {{ icon }}"></span>&nbsp;
		{% else %}
			<span class="fa fa-{{ icon }}"></span>&nbsp;
		{% endif  %}
	{% endif %}
	{% if label is defined %}
		{{ label }}
	{% endif %}

</a>

