

<a href="{{ url }}" onclick=" 
	{% if message is defined %}if(confirm('{{ message }}is defined ') == true) { {% endif %}
		var f = document.createElement('form'); 
		f.style.display = 'none'; 
		this.parentNode.appendChild(f); 
		f.method = 'post'; 
		f.action = this.href; 
		f.submit(); 
	{% if message is defined %}}{% endif %}
	return false;">{{ label|raw }}</a>