{% extends 'base.html.twig' %}

{% block title %}{{ view.name }} of {{contentType.name|humanize}}{% endblock %}
{% block pagetitle %}{{ view.name }} of {{contentType.name|humanize}}{% endblock %} 
{# {% block subtitle %}<!-- TODO -->{% endblock %} #}


{% block body %}

<div class="row">
	{% for keyword in keywords %}
			{% include template_from_string(view.options.template) %}
	{% endfor %}
</div>

{% endblock %} 


{% block javascripts %}
	{% include 'app/menu.html.twig' with {
		'item':  'data-view-'~ contentType.id ~ '-' ~ view.id
	}%}
{% endblock %}	