{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% trans_default_domain 'FOSUserBundle' %}
<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">New user</h3>
			</div>
{{ form_start(form, {'method': 'post', 'action': path('user.add'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div class="box-body">
    	{{ form_widget(form) }}
    </div>
    <div class="box-footer">
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
</div>
<!-- /.box -->
{% endblock fos_user_content %}
