{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}


  {% block body %}
  
	  <!-- /.login-logo -->
	  <div class="login-box-body">
	  	{% block fos_user_content %}
	  	{% endblock fos_user_content %}
	  </div>
	  <!-- /.login-box-body -->
  {% endblock body %}


