{% extends 'base.html.twig' %}


{% block title %}No node available{% endblock %}
{% block pagetitle %}No node available{% endblock %} 
{% block subtitle %}Something goes wrong{% endblock %}
{% block body %}
<div class="col-md-12">
	<div class="box box box-solid">
		<div class="box-header with-border bg-red">
			<h3 class="box-title">
				<h4>
					<i class="icon fa fa-ban fa-2x"></i>  No node available
				</h4>
			</h3>
		</div>
	</div>

</div>
{% endblock %}